.cardGame {
  margin-left: 5vh;
  margin-right: 5vh;
  position: relative;
  width: 35vh;
  height: 40vh;
  margin-bottom: 3vh;
}

.card-thumbnail {
  width: 35vh;
  height: 22vh;
  border-radius: 5px;
}

.card-link {
  color: white;
}
